In [15]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType
from pyspark.sql import SQLContext
from pyspark import SparkContext # Sparkfrom datetime import datetime

In [16]:
sc = SparkContext.getOrCreate()

In [17]:
sqlContext = SQLContext(sc)

In [24]:
df1 = sqlContext.createDataFrame([("11/25/1991","11/24/1991","11/30/1991"), 
                            ("1/25/1391","11/24/1992","11/30/1992")], schema=['first', 'second', 'third'])

In [25]:
df1.collect()

[Row(first='11/25/1991', second='11/24/1991', third='11/30/1991'),
 Row(first='1/25/1391', second='11/24/1992', third='11/30/1992')]

In [26]:
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())

In [27]:
df = df1.withColumn('test', func(col('first')))

In [28]:
df.collect()

[Row(first='11/25/1991', second='11/24/1991', third='11/30/1991', test=datetime.date(1991, 11, 25)),
 Row(first='1/25/1391', second='11/24/1992', third='11/30/1992', test=datetime.date(1391, 1, 25))]